body {
    background-color: #f5f5f5;
    font-family: Arial, Helvetica, sans-serif;
    color: #333333;
}

h1 {
    text-align: center;
    color: #003366;
}

h2 {
    text-align: center;
    color: #444444;
}

p {
    line-height: 1.5;
    font-size: 18px;
}

ul {
    font-size: 18px;
}

a {
    color: #003399;
    text-decoration: none;
}

a:visited {
    color: #660066;
}

a:hover {
    text-decoration: underline;
}
